root = "."
testdata_dir = "testdata"
tmp_dir = "tmp"

[build]
  args_bin = []
  bin = "/tmp/stateful-demo-main"
  cmd = "go build -o /tmp/stateful-demo-main ./cmd/stateful/demo/main.go"
  delay = 1000
  exclude_dir = ["assets", "tmp", "vendor", "testdata"]
  exclude_file = []
  exclude_regex = ["_test.go"]
  exclude_unchanged = false
  follow_symlink = false
  full_bin = ""
  include_dir = ["cmd/stateful/demo", "internal/app/game/stateful_demo", "internal/core", "internal/pkg/client", "pkg", "api", "config"]
  include_ext = ["go", "tpl", "tmpl", "html", "yaml", "proto"]
  kill_delay = "5s"
  log = "build-stateful-demo-errors.log"
  send_interrupt = true
  stop_on_error = true

[color]
  app = ""
  build = "yellow"
  main = "cyan"
  runner = "green"
  watcher = "magenta"

[log]
  time = false

[misc]
  clean_on_exit = false

[screen]
  clear_on_rebuild = false
